absl-py==0.13.0
atari-py==0.2.9
atomicwrites==1.2.1
attrs==18.2.0
blinker==1.4
box2d-py==2.3.8
brotlipy==0.7.0
cachetools==4.1.0
certifi==2018.8.24
cffi==1.14.0
chardet
click
cloudpickle==1.2.2
coverage
cryptography
cycler==0.10.0
Cython==0.29.17
dataclasses==0.8
decorator==4.4.2
dm-control==0.0.364896371
dm-env==1.5
dm-tree==0.1.6
docopt==0.6.2
fasteners==0.16.3
future==0.16.0
glfw==1.11.0
google-auth==1.14.1
google-auth-oauthlib==0.4.1
grpcio
gym==0.18.3
h5py
hydra-core==0.11.3
idna==2.7
imageio==2.4.1
importlib-metadata
joblib==1.0.1
jsonpickle==0.9.6
kiwisolver==1.0.1
labmaze==1.0.5
llvmlite==0.36.0
lockfile==0.12.2
lxml==4.6.3
Markdown
matplotlib==3.0.3

mock==2.0.0
more-itertools==4.3.0
mujoco-py==2.0.2.8
munch==2.3.2
networkx==2.5.1
numba
numpy==1.19.5
oauthlib==3.1.0
olefile==0.46
omegaconf==1.4.1
opencv-python==4.5.2.54
pandas==1.1.5
pathlib2==2.3.2
pbr==4.3.0
Pillow==7.1.2
pipreqs==0.4.10
pluggy==0.7.1
portpicker==1.2.0
probscale==0.2.3
protobuf==3.17.3
py==1.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser
pygame==1.9.4
pyglet==1.5.15
PyJWT
PyOpenGL==3.1.5
pyOpenSSL
pyparsing==2.2.2
PySocks
pytest==3.8.2
python-dateutil==2.7.3
pytz
PyWavelets==1.1.1
PyYAML==3.13
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.0
s2clientprotocol==4.6.1.68195.0
sacred==0.7.2
scikit-image==0.16.2
scikit-learn==0.24.2
scikit-video==1.1.11
scipy==1.1.0
six
SMAC==0.1.2
snakeviz==1.0.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.6.0.post3
tensorboardX==1.9
threadpoolctl==2.2.0
tianshou==0.4.2
torch==1.8.1
torchsummary==1.5.1
torchvision==0.4.0
tornado
tqdm==4.54.1
typing-extensions
urllib3==1.23
websocket-client==0.53.0
Werkzeug
xacro==1.13.3
yarg==0.1.9
zipp
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0